port = 5815

# DB settings
db {
  default {
    url = "jdbc:postgresql://localhost/andon"
    driver = "org.postgresql.Driver"
    user = "amutake"
    password = ""
  }
}

jwt {
  secretKey = "secret"
  algorithm = "HS256"
}

static {
  path = "../static.satsukita-andon.com/" # must be end with slash ("/")
  base = "https://static.satsukita-andon.com/" # must be end with slash ("/")
}
